#ifndef SECRETS_H
#define SECRETS_H

#include <pgmspace.h>

#define LED_BUILTIN 2

const char WIFI_SSID[] = "";
const char WIFI_PASSWORD[] = "";

const char WEBEX_API_KEY[] = "";
const char WEBEX_USER_ID[] = "";

#endif